table {
    border: 2px solid black;
    border-collapse: collapse;
}

th, td {
    padding:20px;
    border: 2px solid black;
    
}

.logo {
    background-color: pink;
}

.yellow {
    
    background-color: yellow;
}

#footer {
    text-align: center;
    background-color: orange;
}