body {
    background-color: #7fa99b ;
    color:#fbf2d5;
    text-align:center;
}

h1 {
    text-align: center;
    background-color:#394a51;
}

img {
    width: 800px;display:block;
    margin:auto;
}

